################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Inventario/bin/Debug/net9.0-windows
/Inventario/obj
